<div class="control-group">
  <%= f.label :name, :class => 'control-label' %>
  <%= f.text_field :name, :class => 'controls' %>
</div>

<div class="control-group">
  <%= f.label :age, :class => 'control-label' %>
  <%= f.number_field :age, :class => 'controls' %>
</div>

<div class="control-group">
  <%= f.label :address, :class => 'control-label' %>
  <%= f.text_area :address, :class => 'controls' %>
</div>