<div class="control-group">
  <%= label_tag 'job_number', 'Job number', :class => 'control-label' %>
  <%= text_field_tag 'job_number', '', :class => 'controls', :"ng-model" => "submission.job_number" %>
</div>

<div class="control-group">
  <%= label_tag 'description', 'Description', :class => 'control-label' %>
  <%= text_area_tag 'description', '', :class => 'controls', :"ng-model" => "submission.description" %>
</div>

<div class="control-group">
  <%= label_tag 'occupation', 'Occupation', :class => 'control-label' %>
  <%= text_field_tag 'occupation', '', :class => 'controls', :"ng-model" => "submission.occupation" %>
</div>