<%= form_for @submission, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>

    </div>
  <% end %>
  <div>
    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <%= f.text_field :name, :class => 'controls' %>
    </div>

    <div class="control-group">
      <%= f.label :job_number, :class => 'control-label' %>
      <%= f.text_field :job_number, :class => 'controls' %>
    </div>

    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <%= f.text_area :description, :class => 'controls' %>
    </div>

    <div class="control-group">
      <%= f.label :age, :class => 'control-label' %>
      <%= f.number_field :age, :class => 'controls' %>
    </div>

    <div class="control-group">
      <%= f.label :address, :class => 'control-label' %>
      <%= f.text_area :address, :class => 'controls' %>
    </div>

    <div class="control-group">
      <%= f.label :occupation, :class => 'control-label' %>
      <%= f.text_field :occupation, :class => 'controls' %>
    </div>

    <div class="actions form-actions">
      <%= f.submit "Submit", :class => 'btn btn-primary' %>
      <%= link_to 'Back', submissions_path, :class => 'btn' %>
    </div>
  </div>  
<% end %>
